.input{
  border-radius: 25px;
}

:root{
  --primary-color:#3F51B5;
  --secondary-color:#E4A52D;
  --tertiary-color:#4CAF50;
  --main-orange-color:#FF5722;
}


.attendence-card{
  width: 250px !important;
}
.card-img  img{
  height: 100px;
  width: 100px;
  align-self: center;
}